:root {
  --color-primary: #4caf4f;
  --color-secondary: #263238;
  --color-white: #fff;
  --color-gray: #f1f1f1;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.container {
  max-width: 104rem;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}
.nav {
  width: 100%;
  height: 8rem;
  background-color: var(--color-white);
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav_logo {
  font-size: 2.8rem;
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 600;
}
.nav_list {
    list-style: none;
  display: flex;
  gap: 2rem; /* Spacing between items */
  margin: 0 auto; /* Centers the list */
  padding: 0;
}
.nav_item {
  margin: 0rem 0.7rem;
}
.nav_link {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.5rem;
}
.nav_btn {
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1rem 1.5rem;
  color: var(--color-white);
  border-radius: 0.6rem;
}
.header {
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: var(--color-gray);
  }

  .header_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header_container_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header_text {
    width: 65%;
  }

  .header_img {
    width: 35%;
    position: relative;
  }

  .header_title {
    font-size: 5.2rem;
    font-weight: 500;
    color: var(--color-secondary);
    line-height: 6.5rem;
  }

  .header_title > span {
    color: var(--color-primary);
  }

  .header_text p {
    color: var(--color-secondary);
    margin: 2rem 0rem;
  }

  .header_btn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1rem 2rem;
    margin-top: 2rem;
    letter-spacing: 1.2px;
    border-radius: 0.4rem;
  }

  /* Slideshow CSS */
  .slideshow-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slides img {
    width: 100%; 
    height: auto; 
    flex-shrink: 0; 
    object-fit: cover; 
  }

  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: #717171;
  }

.section {
  padding-top: 10rem;
}
.clients_container {
  text-align: center;
}
.section_header {
  margin-bottom: 5rem;
}
.section_title {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
.section_text {
  color: var(--color-secondary);
  line-height: 1.8;
}
.clients_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem; 
    justify-items: center; 
  }
  .clients_wrapper > span {
    text-align: center;
    transition: transform 0.3s ease; 
  }
  .clients_wrapper > span:hover {
    transform: scale(1.2); 
  }
  .client_logo {
    max-width: 100%; 
    height: auto; 
  }
.services_section {
    text-align: center;
  }
  .services_section .services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 4rem;
  }
  .services_section .service {
    padding: 1.5rem 0.4rem;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.144);
    border-radius: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff; 
  }
  
  .services_section .service:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  }
  
  .services_section .service_title {
    color: var(--color-secondary);
    margin: 1rem 0;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  .services_section .service:hover .service_title {
    color: var(--color-primary);
  }
  .services_section .service_text {
    color: var(--color-secondary);
    font-size: 1rem;
    line-height: 1.6;
  }
  .services_section .icon img {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
  }
  .services_section .service:hover .icon img {
    transform: scale(1.2); 
  }
.experience_container {
  width: 200%;
  display: flex;
  align-items: center;
}
.experience_image {
  width: 40%;
}
.experience_text {
  width: 60%;
  margin-left: 3rem;
}
.experience_title {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--color-secondary);
}
.experience_text {
  margin: 1.5rem 0rem 2.5rem 0rem;
  color: var(--color-secondary);
}
.experience_btn {
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  color: var(--color-white);
}
.help {
  background-color: var(--color-gray);
  padding: 7rem 0rem;
  width: 100%;
}
.help_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.help_heading {
  width: 45%;
}
.help_title {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--color-secondary);
}
.help_title > span {
  color: var(--color-primary);
}
.help_content {
  width: 55%;
  margin-left: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
}
.help_item {
  display: flex;
  align-items: center;
}
.help_item_text {
  margin-left: 2rem;
}
.testimonial {
  background-color: var(--color-gray);
  padding: 7rem 0rem;
}
.testimonial_container {
  width: 100%;
  display: flex;
  align-items: center;
}
.test_image {
  width: 35%;
  height: 30rem;
}
.test_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.test_content {
  width: 65%;
  margin-left: 4rem;
}
.test_p {
  margin-bottom: 2rem;
  color: var(--color-secondary);
}
.test_name {
  color: var(--color-primary);
  margin-bottom: 1rem;
}
.test_designation {
  color: var(--color-secondary);
  font-size: 1.4rem;
  margin-bottom: 3rem;
}
.test_logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.test_link {
  text-decoration: none;
  color: var(--color-primary);
}
.blog_container > .section_header {
  text-align: center;
}
.blogs {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
}
.blog_item {
  width: 100%;
  position: relative;
}
.blog_item > img {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  border-radius: 0.7rem;
}
.blog_body {
  width: 90%;
  background-color: var(--color-gray);
  padding: 1.7rem 1.2rem;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.144);
  margin: 0 auto;
  border-radius: 0.4rem;
  text-align: center;
  position: absolute;
  left: 4.5%;
  bottom: -2rem;
}
.blog_title {
  font-size: 1.8rem;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
.blog_link {
  text-decoration: none;
  color: var(--color-primary);
}
.demo {
  background-color: var(--color-gray);
  padding: 7rem 0rem;
}
.demo_container {
  width: 100%;
  text-align: center;
}
.demo_title {
  font-size: 4.8rem;
  color: var(--color-secondary);
  margin-bottom: 4rem;
}
.demo_btn {
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1.2rem 2rem;
  color: var(--color-white);
  border-radius: 0.5rem;
}
.footer {
    padding: 5rem; /* Adjusted padding for a cleaner look */
    background-color: var(--color-secondary);
  }
  
  .footer_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /* Adjusted min-width */
    grid-gap: 2rem; /* Reduced the gap slightly for a compact layout */
    
  }
  
  .footer_logo {
    text-decoration: none;
    color: var(--color-white);
    font-size: 2.8rem;
    font-weight: 600;
  }
  
  .footer_item_title {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem; /* Adds space below the title */
  }
  
  .footer_copy {
    margin: 2rem 0;
    font-size: 1.4rem;
    color: var(--color-white);
  }
  
  .footer_icons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 0.5rem; /* Space between icons */
  }
  
  .footer_icon {
    width: 3rem; /* Set width for round shape */
    height: 3rem; /* Set height for round shape */
    background-color: rgba(255, 255, 255, 0.25); /* Light transparency */
    border-radius: 50%; /* Makes the icons round */
    display: flex; /* Center-align content */
    align-items: center; /* Vertically align image */
    justify-content: center; /* Horizontally align image */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth animations */
    overflow: hidden; /* Ensures the image fits within the round shape */
  }
  
  .footer_icon img {
    width: 80%; /* Resize the image to fit within the circle */
    height: auto; /* Maintain the aspect ratio of the image */
  }
  
  .footer_icon:hover {
    background-color: var(--color-primary); /* Highlight effect on hover */
    transform: scale(1.1); /* Slight zoom-in effect */
  }
  
  .footer_company_list, 
  .footer_support_list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 1.5rem; /* Spacing above the list */
  }
  
  .footer_company_item, 
  .footer_support_item {
    margin-bottom: 1rem; /* Spacing between list items */
  }
  
  .footer_company_link, 
  .footer_support_link {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.4rem;
    transition: color 0.3s ease;
  }
  
  .footer_company_link:hover, 
  .footer_support_link:hover {
    color: var(--color-primary); /* Add a hover effect */
  }
  
  .footer_update {
    background-color: var(--color-gray);
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem; /* Adds spacing above the input box */
    border-radius: 0.5rem;
  }
  
  .footer_update_input {
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 1.4rem;
    color: var(--color-secondary);
  }
  
  .footer_update_input::placeholder {
    color: rgba(0, 0, 0, 0.5); /* Placeholder text styling */
  }
  
  .footer_update span {
    color: var(--color-primary);
    font-size: 2rem;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .footer_update span:hover {
    color: var(--color-secondary);
  }
  
.stay {
  margin-bottom: 2rem;
}
.footer_update > span {
  cursor: pointer;
}
.nav_burger {
  width: 3.5rem;
  height: 3.5;
  display: none;
  cursor: pointer;
}
.mobile_nav_list {
  display: none;
}
.mobile_nav_list {
  list-style: none;
}
.mobile_nav_item {
  margin: 1.5rem 1rem;
}
.mobile_nav_link {
  padding: 1rem 0rem;
  text-decoration: none;
  color: var(--color-secondary);
}
.mobile_nav_item_last {
  margin-bottom: 2rem !important;
}
@media only screen and (max-width: 745px) {
  .desktop_nav {
    display: none;
  }
  .nav_burger {
    display: block;
  }
  .mobile_nav_list {
    position: relative;
    top: -500%;
    display: block;
    width: 100%;
    background-color: var(--color-white);
    padding: 2rem;
    transition: all 0.4s ease;
  }
  .show_mobile_nav {
    top: 0;
  }
  .experience_container {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .experience_image {
    width: 100%;
  }
  .experience_text {
    width: 100%;
    margin-left: 0px;
  }
  .help_container {
    width: 100%;
    flex-direction: column;
  }
  .help_heading {
    width: 100%;
  }
  .help_content {
    margin-top: 2rem;
    width: 100%;
    margin-left: 0px;
  }
  .testimonial_container {
    width: 100%;
    flex-direction: column;
  }
  .test_image {
    width: 100%;
  }
  .test_content {
    width: 100%;
    margin-left: 0px;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 350px) {
  .header_title {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .header_text {
    width: 100%;
  }
  .header_img {
    display: none;
  }
}